$skincolor: #ec1839;
$text-black-900: #302e4d;
$text-balck-700: #504e70;
$bg-color-50: #e8dfec;
.about {
  display: flex;
  flex-direction: column;
  .about-text{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 20px;
    span{
      color: $skincolor;
    }
    h3{
      font-size: 24px;
      margin-bottom: 15px;
      color: $text-black-900;
    }
    p{
      line-height: 25px;
      color: $text-balck-700;
    }
  }
  .row {
    display: flex;
    flex-direction: column;
    .personal-info{
      .line{
        display: flex;
        .info-item{
          flex: 0.4;
          p{
            color: $text-black-900;
            font-weight: 600;
        
            border-bottom: 1px solid $bg-color-50;
            span{
              color: $text-balck-700;
              font-weight: 400;
            }
          }
        }
      }
  
    }
  } 
  .row {
    button{
      margin-right: 10px;
    }
  }
}


